# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
backend/db.sqlite3

# dependencies
cs348/node_modules
cs348/.pnp
cs348/.pnp.js

# testing
cs348/coverage

# production
cs348/build

# misc
cs348/.DS_Store
cs348/.env.local
cs348/.env.development.local
cs348/.env.test.local
cs348/.env.production.local

cs348/npm-debug.log*
cs348/yarn-debug.log*
cs348/yarn-error.log*

backend/db.sqlite3
